{% extends "base/base.html" %}

{% block title %}Welcome to Member's Home Page - PalsPay{% endblock %}

{% block content %}

    <h1>Welcome, {{ user.username }}</h1>
    <p>Account Balance: {{ account_balance }} {{ account_currency }}</p>
    <p>Email: {{ user.email }}</p>
    <p>
        <a href="{% url 'transfer-money' %}">Send Money</a>
    </p>
    <p>
        <a href="{% url 'request-money' %}">Request Money</a>
    </p>
    <p>
        <a href="{% url 'manage-requests' %}">Manage Requests</a>
    </p>

    {% for transaction in transactions %}
    <tr>
        <td>{{ transaction.date }}</td>
        <td>{{ transaction.amount }}</td>
        <td>{{ transaction.transaction_type }}</td>
        <td>{{ transaction.description }}</td>
    </tr>
    {% empty %}
    <tr>
        <td colspan="4">No transactions found.</td>
    </tr>
    {% endfor %}
{% endblock %}