{% extends 'base/base.html' %}
{% load crispy_forms_filters %} {% block title %}Home - PalsPay{% endblock %}
{% load crispy_forms_tags %} {% block content %}{% load static %}
    <!--<form method="POST" action="/register-user/">
        {% csrf_token %}{{form|crispy}}
        <p>Have an account? Login <a href="/login-user/">Here</a>!</p>
        <button type="submit" class="btn btn-success">Register</button>
    </form>-->
    <link rel="stylesheet" type="text/css" href="{% static '/css/feature.css' %}" >
    <body>
    <link rel="stylesheet" type="text/css" href="{% static '/css/home.css' %}" >
    
    <main>
        <div class="container marketing">

            <div class="row featurette">
                <div class="col-md-7">
                    <h2 class="featurette-heading">Empower Your Finances.<span class="text-muted"> It’ll blow your mind.</span></h2>
                    <p class="lead"> Instantly manage your money, whether you're splitting bills or paying for your next adventure. With our app, financial freedom is at your fingertips, making every transaction seamless and secure.</p>
                </div>
                <div class="col-md-5">
                    <div class="card card-cover overflow-hidden text-white bg-dark rounded-5 shadow-lg" style="background-image: url('../../static/images/stock_phone.jpg'); width: 500px; height: 500px;"></div>
                </div>
            </div>

            <hr class="featurette-divider">

            <div class="row featurette">
                <div class="col-md-7 order-md-2">
                    <h2 class="featurette-heading">Convenience Meets Security. <span class="text-muted"> See for yourself.</span></h2>
                    <p class="lead">Transfer funds effortlessly to friends and family across the globe. Shop at millions of online stores with just a few taps—security and convenience in one powerful app.
                    </p>
                </div>
                <div class="col-md-5 order-md-1">
                    <div class="card card-cover overflow-hidden text-white bg-dark rounded-5 shadow-lg" style="background-image: url('../../static/images/man_phone.jpg'); width: 500px; height: 500px;"></div>
                </div>
            </div>
        </div><!-- /.container -->
    
    <div class="container px-4 py-5" id="custom-cards">
        <h2 class="pb-2 border-bottom">What we offer:</h2>

        <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
            <div class="col">
                <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg" style="background-image: url('../../static/images/image_cables.jpg');">
                    <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                        <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Blazingly Fast Money Transfer</h2>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg" style="background-image: url('../../static/images/image_security.jpg');">
                    <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                        <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Highly Secure</h2>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg" style="background-image: url('../../static/images/image_stocks.jpg');">
                    <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
                        <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">No Conversion Fee</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}