{% extends "base/base.html" %}

{% block title %}Member's Database - PalsPay{% endblock %}


    <h1>All Members</h1>
    <ul>
        {% for member in all_members %}
            <li>{{ member.username }} - {{ member.email }}</li>
        {% endfor %}
    </ul>

{% block content %}
<main class="container">
    <!-- Members -->
    <div class="my-3 p-3 bg-body rounded shadow-sm">
        <h6 class="border-bottom pb-2 mb-0">Members</h6>
        {% for member in all_members %}
            <div class="d-flex text-body-secondary pt-3">
                <p class="pb-3 mb-0 small lh-sm border-bottom">
                    <!-- Display member's username -->
                    <strong class="d-block text-black">{{ member.username }}</strong>
                    <!-- Access the balance and currency through the related account attribute -->
                    Account Balance: {{ member.account.balance }} {{ member.account.currency }}
                </p>
            </div>
        {% endfor %}
        <small class="d-block text-end mt-3">
            <a href="#">All updates</a>
        </small>
    </div>
    <!-- Transactions -->
    <div class="my-3 p-3 bg-body rounded shadow-sm">
        <h6 class="border-bottom pb-2 mb-0">Transaction Ledger</h6>
        {% for transaction in all_transactions %}
            <div class="d-flex text-body-secondary pt-3">
                <p class="pb-3 mb-0 small lh-sm border-bottom">
                    <!-- Display member's username -->
                    <strong class="d-block text-black">{{ transaction.id }}</strong>
                    <!-- Access the balance and currency through the related account attribute -->
                    Date of transaction: {{ transaction.date }}
                    <br>
                    Type of transaction: {{ transaction.transaction_type }}
                    <br>
                    Amount: {{ transaction.amount }}
                    <br>
                    Description: {{ transaction.description }}
                </p>
            </div>
        {% endfor %}
        <small class="d-block text-end mt-3">
            <a href="#">All updates</a>
        </small>
    </div>

</main>
{% endblock %}